@font-face {
	font-family: digital;
	src: url(fonts/digital.ttf);
}

@font-face {
	font-family: digital-mono;
	src: url(fonts/digital-mono.ttf);
}

@font-face {
	font-family: digital-italic;
	src: url(fonts/digital-italic.ttf);
}

@font-face {
	font-family: digital-mono-italic;
	src: url(fonts/digital-mono-italic.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

:root {
	font-size: 16px;
	--fs-display: 3.5rem;
	--fs-900: 2.5rem;
	--fs-700: 2rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calc {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 25px;
	padding: 1em;
	width: clamp(200px, 50%, 300px);
}

.calc__display-section {
	display: flex;
	flex: 2;
	margin-bottom: 1em;
}

.calc__display {
	font-family: 'digital-mono', 'sans-serif';
	font-size: var(--fs-display);
	background-color: white;
	border: 2px solid black;
	width: 100%;
	height: 1em;
	padding: 0.1em;
	
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: right;
}

.calc__buttons-section {
	aspect-ratio: 4/5;
	display: grid;
	gap: 1%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"empty3 empty1 empty2 div"
		"seven eight nine mul"
		"four five six sub"
		"one two three add"
		"clr zero dec eql";
}

.calc__button {
	display: flex;
	/* Button box */
	align-self: center;
	justify-self: center;
	/* Button content */
	align-items: center;
	justify-content: center;
	
	width: 93%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	font-size: var(--fs-700);
	font-weight: 500;
	border: 3px solid gray;
	box-shadow: 0.025em 0.025em;
	transition: scale 0.2s;
}

.calc__button:active {
	transform: scale(0.98);
}

.calc__button-number {
	background-color: white;
	font-weight: 500;
}

.calc__button-dec {
	background-color: white;
	font-weight: 500;
}

.calc__button-operation {
	background-color: orange;
}

.calc__button-control {
	background-color: slategrey;
	color: whitesmoke;
}

#calc__0 {
	grid-area: zero;
}

#calc__1 {
	grid-area: one;
}

#calc__2 {
	grid-area: two;
}

#calc__3 {
	grid-area: three;
}

#calc__4 {
	grid-area: four;
}

#calc__5 {
	grid-area: five;
}

#calc__6 {
	grid-area: six;
}

#calc__7 {
	grid-area: seven;
}

#calc__8 {
	grid-area: eight;
}

#calc__9 {
	grid-area: nine;
}

#calc__dec {
	grid-area: dec;
}

#calc__add {
	grid-area: add;
}

#calc__sub {
	grid-area: sub;
}

#calc__mul {
	grid-area: mul;
}

#calc__div {
	grid-area: div;
}

#calc__eql {
	grid-area: eql;
}

#calc__clr {
	grid-area: clr;
}

#calc__empty1 {
	grid-area: empty1;
}

#calc__empty2 {
	grid-area: empty2;
}

#calc__empty3 {
	grid-area: empty3;
}